*.js linguist-language=Java
*.css linguist-language=Java
*.html linguist-language=Java
*.vue linguist-language=Java
*.sql linguist-language=Java
# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.bat text eol=crlf
*.env.example text eol=lf
*.yaml text eol=lf