// Hide outbound link icon
// .outbound {
//  display: none !important;
// }

.custom-block.tip{
  border-color: #1890ff
}
.theme-default-content code .token.inserted{
  color: #60bd90;
}
.my-popup-exit {
  background: #1890ff !important
}